*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	font-family: 'Poppins', sans-serif;
    line-height: 1;
    font-size: 16px;
    color: #333333;
}



body {
	margin: 0;
	padding: 0;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
        gap: 64px;
        justify-content: flex-start;
}

.title{
    font-size: 24px;
    letter-spacing: -3px;
    word-spacing: 5px;
    padding: 20px 24px;

    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

.info {
    
}
.section {
text-align: center;

}


.section .scarecrow {
    object-fit: cover;
    max-width: 300px;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 60px;
    
}

.section .text {
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    font-size: 48px;
    padding-right: 24px;
    padding-left: 24px;
    text-align: left;
    
}
.section .paragraph {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    letter-spacing: -3.5%;
    text-align: left;
    padding-right: 24px;
    padding-left: 24px;
    margin-bottom: 66px;
}

.section .action {
    text-align: left;
        padding-right: 24px;
    padding-left: 24px;
}
.section .action .btn {
    background-color: #333333;
    width: 216px;
    color: white;
    text-transform: uppercase;
    padding: 24px;
    text-align: center;
    border: none;
cursor: pointer;
font-weight: 700;
font-family: 'Space Mono', monospace;
font-size: 14px;
}
.section .action .btn:focus {
    outline: none;
}

.created-by {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #BDBDBD;
    margin-top: auto;
    padding:24px 0px;
}
.created-by > span{
    font-weight: 700;
}

@media only screen and (min-width:1024px){

    .section {
        display: flex;
        justify-content: center;
        gap: 118px;
        align-items: center;
    }
    .section .scarecrow {
        max-width: 540px;
    }
    .section .text {
        max-width: 586px;
        margin-bottom: 36px;
    }
    .section .paragraph {
        max-width: 381px;
    }
}